@import url('https://fonts.googleapis.com/css?family=Raleway');

/* General */
input:focus, textarea:focus, button:focus {
    outline: none;
}

* {
    font-family: "Raleway", sans-serif;
}

/* Search */

.search-wrap {
    padding-top: 300px;
}

.search-wrap--relative {
    position: relative;
    width: 70%;
    margin: 0 auto;
}

.search-wrap__field {
    height: 40px;
    margin: 0 auto;
    display: block;
    font-size: 16px;
    width: 100%;
    border: 0px;
    border-bottom: 2px solid #3498db;
    
}

.search-wrap__btn {
    display: block;
    margin: 0 auto;
    background: #fff;
    border-radius: 24px;
    border: 0px;
    text-transform: uppercase;
    font-size: 18px;
    position: absolute;
    top: 0px;
    right: -3px;
}

/* Results */
.results-wrap {
    width: 70%;
    margin: 0 auto;
}

.results-wrap__single {
    margin-bottom: 10px;
}

.results-wrap__empty {
    font-size: 14px;
}

/* Vendor */
.fa-angle-right {
    margin-right: 5px;
}

/* Placeholder */
::-webkit-input-placeholder {
   letter-spacing: 1px; 
   color: #95a5a6;
   
   font-size: 16px;
   line-height: 16px;
}